.codeview{
    width: 100%;
    position: relative;


    & > pre {
        width: 100%;
    }
    .codeview__copybutton{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: #eef1f4;
        border-radius: 10px;
        cursor: pointer;
    }
}

 @media screen and (max-width: 1300px) {
    .codeview{
        width: 400px;
    }
} 