<<<<<<< HEAD
.documentation {
    display: flex;
    flex-direction: column;
    gap: 150px;

    .componentCode:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;

        &> .componentCode__text {
            display: flex;
            flex-direction: column;
            align-items: end;
            text-align: right;
            text-wrap: pretty;
        }
    }
=======
.documentation {
    display: flex;
    flex-direction: column;
    gap: 150px;

    .componentCode:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;

        &> .componentCode__text {
            display: flex;
            flex-direction: column;
            align-items: end;
            text-align: right;
            text-wrap: pretty;
        }
    }
>>>>>>> 2dec7df8336274513ba510492545b77822401e48
}