#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
  gap: 200px;

  &> main {
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
    justify-content: center;
  }
}

/* QUERIES */

